<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="center-block my-av wow bounceIn"></div>
                <hr class="light">
                <p class="text-faded">Full stack javascript developer with a passion for all things code. I am currently working with the MEAN stack, and I am constantly striving to learn new skills. I enjoy working with a team, solving problems, and building crisp, dynamic web applications. <br /><br />When I'm not programming I enjoy rock climbing, hiking, camping, backpacking, and pretty much anything else that involves the outdoors.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
