<div id="footer">
      <div class="container text-center">
          <a href="https://github.com/bbusch19" target="_blank" class="marg-left"><i class="fa fa-github fa-3x"></i></a>
          <a href="https://www.facebook.com/people/Breiden-Busch/100009869054429" target="_blank" class="marg-left"><i class="fa fa-facebook fa-3x"></i></a>
          <a href="https://www.linkedin.com/in/breidenbusch" target="_blank" class="marg-left"><i class="fa fa-linkedin fa-3x"></i></a>
          <a href="https://www.instagram.com/breiden_busch/" target="_blank" class="marg-left"><i class="fa fa-instagram fa-3x"></i></a>
          <a href="mailto:breiden.busch@gmail.com" class="marg-left"><i class="fa fa-envelope fa-3x"></i></a>
      </div>
</div>
